## Numbers

(1). Use range() to print all the even numbers from 0 to 30.

(2). Answer these 3 questions without typing code. Then type code to check your answer.


   1. What is the value of the expression 7 * (2 + 8) -->guess what would be your output=
    
   2. What is the value of the expression 6 * 3 + 6   -->guess what would be your output=
    
   3. What is the value of the expression 8 + 5 * 4   -->guess what would be your output=

In [0]:
#1ST ANSWER(type code)

In [0]:
#2ND ANSWER(type code)

In [0]:
#3RD ANSWER(type code)

------------------------------------------------------------------------------------------------------

(3). Square of 
100

In [0]:
#Ans(3): 
#type code

-------------------

(4). Square_root of
50

In [0]:
#Ans(4):                                                    
#type code

-----------

(5).Given the string 'great' give an index command that returns 'e'. Enter your code in the cell below:
'great'

In [0]:
#Ans(5):
#Type your code here

------------

(6). Reverse the string 'great' using slicing:

In [0]:
#Ans(6):
#Type your code here

-----

(7).Given the string GREAT, give two methods of producing the letter 'T' using indexing.


Print out the 'T'

In [0]:
# Method 1 :

In [0]:
# Method 2 :

-----

(8) Make a dictionary with {} and : to signify a key and a value

   keys   = sara,rohit,dawan,amit,archit
   
   
   values = 96,95,25,11,22

In [0]:
#Ans(8):
#type your code here :

----

(9) dict = {'abc':999,'cde':(222,213,111),'efg':['object0','object1','object2']}


type a code output to be:


   ['object0','object1','object2']

In [0]:
#Ans(9):
#type your code here :

-----

(10) dict = {'abc':999,'cde':(222,213,111),'efg':['object0','object1','object2']}
 
type a code output to be:

  ['object0']

In [0]:
#Ans(10):
#type your code here :

-------

(11) my_dict = {'abc':999,'cde':(222,213,111),'efg':['object0','object1','object2']}

  type a code output to be:

   ['OBJECT0']

In [0]:
#Ans(11):
#type your code here :

-------

(12) 
'Hello World concatenate me'

 type a code output to be:

    ['Hello', 'World', 'concatenate', 'me']

In [0]:
#Ans(12):
#type your code here :

------

(13)

 Grab everything, but go in step sizes of 2:-'hello world'

 type a code output to be:

  'hlowrd'

In [0]:
#Ans(13):
#type your code here :

-----

(14)
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

type a code output to be:

    'hello'

In [0]:
#Ans(14):
#type your code here :

----

(15)
 Reassign 'hello' in this nested list to say 'bye' instead:
 
a = [1,2,[3,4,'hello']]

 type a code output to be:

   [1, 2, [3, 4, 'bye']]

In [0]:
#Ans(15):
#type your code here :

----

(16)
x=5,
y=10,
z=5

write an if,elif,else condition.


'x' greater than 'y' then output to be 'GREATER',and if 'z' equal to 'y' then output to be 'EQUAL',ifnot output to be 'UNKNOWN'.

In [0]:
#Ans(16):
#type your code here :

----

(17)

 find the unique values of the list below:
        
a=[1,1,1,12,33,33,222,222,11,11,11,11,,112,112,110,110,110,100,100,99,99,67,67]

 type a code output to be:

   [1,12,33,222,11,112,110,100,99,67]

In [0]:
#Ans(17):
#type your code here :

------

----

(18) Write a program that prints the integers from 1 to 100. But for multiples of three print "GREAT" instead of the number, and for the multiples of five print "LEARNING". For numbers which are multiples of both three and five print "GREATLEARNING".**

In [0]:
#Ans(18):
#type your code here :

------------------------

# -------------------------------------HAPPY LEARNING-----------------------------------------------

--------------------------